a:hover{
  color: white;
  font-size: 16px;
  border: 2.5px solid black;
}

div{
  color: #302789;
}

#a4{
  color: #F4F4EC;
}

#a5{
  color: #F4F4EC;
}

.ghoul{
  color: white;
}

.message{
  color: #241a92;
  background-color: #9f9cc7;
  padding: 5px;
  border: 1px solid blue;
  width: 210px;
  margin-top: 15px;
  margin-left: 10px;
}

.message:hover{
  border: 5px solid blue;
}

#test{
  background-color: #2e19af;
  color: white;
  padding: 2px;
  margin: 14px;
  width: 97px;
}

body{
  background-image: url(genshin/venti1.jpg);
  height: 2000px;
}

h1{
  color: white;
  background-color: #32976D;
  width: 800px;
  margin-left: 200px;
  box-shadow: 2px 2px 111px #8bcca9;
  text-align: center;
  font-weight: 800;
}
.table1{
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 400px;
  height: 250px;
  text-align: center;
}

.card{
  margin-left: 864px;
  margin-top: -441px;
  width: 300px;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}


.card-photo{
  height: 300px;
  width: 300px;
  border: 2px solid #32976D;
  border-radius: 50%;
  margin-left: -2px;



}

.card-title{
  text-align: center;
  margin-top: 15px;
  color: #33917f;
}

.card-text{
  color: #33917f;
  border: 1px solid #33917f;
  padding: 5px;
}
